<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @appointment.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @appointment.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @appointment.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @appointment.email %>
</p>

<p>
  <strong>Appt:</strong>
  <%= @appointment.appt %>
</p>

<p>
  <strong>Service:</strong>
  <%= @appointment.service %>
</p>

<p>
  <strong>Message:</strong>
  <%= @appointment.message %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
